<%= content_tag_for :li, channel, class: "panel" do %>
	<a href="<%= channel_path(channel.organization.permalink, channel) %>">
		<h2><%= channel.name %></h2>
		<ul class="members">
			<% channel.users.limit(5).each do |member| %>
				<li>
					<%= image_tag member.avatar.url %>
				</li>
			<% end %>
		</ul>
		<span class="clear"></span>
	</a>
<% end %>