<h3>Invitations</h3>

<p>Would you like to accept the invitation to <%= @invitation.folder.name %> from <%= @invitation.creator.name %>?</p>

<%= link_to "Accept", folder_foldership_accept_path(@invitation.folder.organization.permalink, @invitation.folder, @invitation, foldership: { accepted: true }), method: :post %>
<%= link_to "Decline", folder_foldership_accept_path(@invitation.folder.organization.permalink, @invitation.folder, @invitation, foldership: { accepted: true }), method: :post %>