<%= render "folders/header" %>

<div class="has_header">
	<%= render "folders/sidebar" %>
	
	<div class="main <%= "has_sidebar" if @does_have_sidebar %>">
		<%= @folder.name %>
		<div class="loading"></div>
	</div>
</div>
