<%= content_tag_for :li, home do %>
	<p><%= home.address %></p>
	<%= link_to "x", channel_home_path(home.channel.organization.permalink, home.channel, home), method: :delete, remote: true, data: { confirm: "Are you sure you want to delete this home?" } %>
<% end %>