<% title do %>
	<h1><%= link_to image_tag(@org.logo.url), rooms_path(@org) %></h1>
<% end %>

<div class="container">
	<ul id="rooms" class="panels">
		<li class="room panel text_only">
			<a href="<%= new_room_path(@org) %>" data-remote="true">
				<h3>Create A Room</h3>
				<span class="clear"></span>
			</a>
		</li>
		<%= render @rooms %>
	</ul>
</div>