body {
	font-family: Arial, Sans Serif;
	font-size: 16px;
	line-height: 21px;
	margin-top: 60px;
	
	&.members_index {
		margin-top: 125px;
	}
	
	&.rooms_show {
		margin-top: 124px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

* { 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#topbar {
	height: 60px;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	
	h1 {
		font-weight: bold;
		font-size: 21px;
		float: left;
	}
	
	.selected {
		background: rgba(0, 0, 0, 0.4);			
	}
	
	a {
		display: inline-block;
		padding: 20px 20px 19px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	}
	
	.nav {
		float: right;
		
		li {
			float: left;
		}
	}
}

.loading {
	display: none;
}

.center {
	text-align: center;
}

.blue_bg {
	background: #3f90c6;
	background: -moz-linear-gradient(top,  #3f90c6 0%, #186fb2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f90c6), color-stop(100%,#186fb2));
	background: -webkit-linear-gradient(top,  #3f90c6 0%,#186fb2 100%);
	background: -o-linear-gradient(top,  #3f90c6 0%,#186fb2 100%);
	background: -ms-linear-gradient(top,  #3f90c6 0%,#186fb2 100%);
	background: linear-gradient(to bottom,  #3f90c6 0%,#186fb2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f90c6', endColorstr='#186fb2',GradientType=0 );
}

.grey_bg {
	background: #aaaaaa;
	background: -moz-linear-gradient(top,  #aaaaaa 0%, #777777 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aaaaaa), color-stop(100%,#777777));
	background: -webkit-linear-gradient(top,  #aaaaaa 0%,#777777 100%);
	background: -o-linear-gradient(top,  #aaaaaa 0%,#777777 100%);
	background: -ms-linear-gradient(top,  #aaaaaa 0%,#777777 100%);
	background: linear-gradient(to bottom,  #aaaaaa 0%,#777777 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#777777',GradientType=0 );
}

input[type="text"], input[type="email"], input[type="tel"], input[type="password"], textarea, select {
	font-family: Arial, Sans Serif;
	font-size: 16px;
	line-height: 21px;
	border: 1px solid #bbb;
	background: #fff;
	color: #333;
	outline: none;
	border-radius: 7px;
	padding: 5px 7px;
}

.templates {
	display: none;
}

.clear {
	clear: both;
}

@media screen and (max-width: 600px) {
	.nav {
		display: none;
	}
}