.button {
	color: #fff;
	display: inline-block;
	text-align: center;
	border-radius: 4px;
	box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.3), 1px 1px 3px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	
	&.big {
		font-size: 15px;
		padding: 10px 15px;
	}
	
	&.small {
		font-size: 11px;
		line-height: 11px;
		padding: 6px 10px;
	}
	
	&.blue_bg {
		border: 1px solid #186fb2;
	}
	
	&.grey_bg {
		border: 1px solid #777777;
	}
}