.comments {
	width: 100%;
	max-width: 500px;
	margin: -25px auto 75px auto;
	padding: 8px;

	li {
		margin-top: 30px;
		font-size: 14px;
		line-height: 21px;
		
		.left_meta {
			float: left;
			width: 40px;
			margin-top: 3px;
		}
		
		.right_meta {
			margin-left: 50px;
			
			.creator_name {
				color: #006EB5;
				font-weight: bold;
			}
			
			.created_at {
				color: #bbb;
				float: right;
				font-size: 11px;
			}
			
			.body {
				color: #333;
			}
		}
	}
}

#new_comment {
	position: fixed;
	bottom: 0;
	left: 222px;
	right: 0;
	background: #fff;
	text-align: center;
	padding: 8px;
	border-top: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	
	#comment_body {
		height: 32px;
		width: 100%;
		max-width: 500px;
	}
}

@media screen and (max-width: 600px) {
	#new_comment {
		left: 0;
	}
	
	.comments {
		margin-bottom: 60px;
		
		li {
			margin-top: 20px;
		}
	}
}