#documents_wrapper {	
	#new_document {
		display: none;
	}
	
	#documents {
		width: 100%;
		margin-top: 20px;
		
		&[data-delete] {
			.document {
				.delete {
					display: block;
				}
			}
		}

		.document {			
			.name {
				width: 75%;
			}
		
			.created_at {
				width: 25%;
			}
		
			.delete {
				visibility: hidden;
				color: maroon;
				display: none;
			}
		}
	}
}