#filters {
	text-transform: uppercase;
	color: #333;
	font-size: 12px;
	
	* {
		font-size: 12px;
	}
	
	ul {
		margin-left: 20px;
		margin-top: 10px;
		
		&.no_indent {
			margin-left: 0;
		}
	}
	
	li {
		margin-bottom: 10px;
		
		&.disabled {
			.field {
				display: none;	
			}
		}

		label, a {
			text-transform: uppercase;
		}
		
		input[type="checkbox"] {
			display: inline-block;
			width: 20px;
			margin: 0;
		}
		
		input[type="text"] {
			width: 100%;
			
			&.narrow {
				width: 4em;
				text-align: center;
			}
		}
		
		.delete_filter {
			float: right;
		}
		
		.indent {
			margin-left: 20px;
		}
	}
}