#folder_sidebar_mobile_placeholder {
	display: none;
}

#folder_sidebar {
	a {
		font-size: 18px;
		line-height: 18px;
		padding: 16px;
		display: block;
		box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.3);
		border-bottom: 1px solid #ccc;
		color: #666;
		
		i {
			color: #bbb;
			margin-right: 15px;
		}
		
		&.selected {
			background: #fff;
			color: #333;
			
			i {
				color: #333;
			}
		}
		
		&.choose_folder {
			background: #777;
			color: #fff;
			font-weight: bold;
			padding: 20px 16px;
			font-size: 19px;
			line-height: 19px;
			border-color: #bbb;
			
			i {
				float: right;
				margin-right: 0;
				color: #bbb;
			}
		}
	}
	
	.folders_list {
		display: none;
		position: absolute;
		width: 221px;
		background: #999;
		min-height: 350px;
		
		a {
			border-bottom: 1px solid #bbb;
			box-shadow: none;
			color: #fff;
		}
	}
	
	.open {
		.folders_list {
			display: block;
		}
	}
}

#folderships_wrapper {	
	#folderships {
		margin-top: 20px;
		
		&[data-delete] {
			.document {
				.delete {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#folder_sidebar {
		top: 75px; 
		left: 0;
		right: 0;
		bottom: auto;
		width: auto;
		display: block;
		z-index: 9;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		
		li {
			text-align: center;
			float: left;
			width: 16.666666666666%;
			text-align: center;
			
			&.folder_options_li {
				display: none;
			}
			
			&:last-child a {
				border-right: none;
			}
			
			a {
				border-bottom: none;
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				
				&.choose_folder {
					font-size: 18px;
					line-height: 18px;
					padding: 16px;
					background: none;
					color: #666;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					
					&.selected {
						background: #fff;
					}
					
					i {
						float: none;
					}
				}
				
				.word {
					display: none;
				}
				
				i {
					margin-right: 0;
					font-size: 21px;
				}
			}
		}
	}
	
	.mobile_folders_list {
		position: fixed;
		display: none;
		left: 0;
		top: 129px;
		right: 0;
		background: #777;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		
		li {
			a {
				display: block;
				padding: 15px;
				border-bottom: 1px solid #888;
				color: #eee;
			}
		}
	}
	
	#folder_sidebar_mobile_placeholder {
		display: block;
		height: 51px;
		width: 100%;
	}
}