#channelships {
	&[data-write] {
		a {
			cursor: pointer;
			
			&.resend {
				display: inline-block;
			}
		}
	}
	
	a {
		cursor: text;
		display: inline-block;
		
		&.resend {
			color: #aaa;
			font-size: 10px;
			margin-left: 3px;
			display: none;
		}
	}
}