.panel {
	background: #eee;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
	line-height: 24px;
	height: 120px;
	
	&.right {
		width: 34%;
		clear: right;
	}
	
	&.left {
		width: 63%;
	}
	
	&.top_space {
		margin-top: 3%;
	}
	
	.plus {
		height: 60px;
		margin-top: -10px;
	}
	
	&.notttttt_surround {
		padding: 0px;
		border: 0;
		background: none;
	}
	
	h3 {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 10px;
		text-align: left;
	}
	
	a {
		display: block;
		padding: 20px;
	}
}


#folders {
	padding-top: 20px;

	.folder {
		float: left;
		width: 31.333333%;
		margin: 0 1% 2%;
		
		.members {
			li {
				float: left;
				width: 17%;
				margin: 0 1.5%;
				
				img {
					border-radius: 100px;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#folders {
		.folder {
			width: 100%;
		}
	}
}