body {
	&.show_lightbox {
		overflow: hidden;
		
		.lightbox_overlay, .lightbox {
			display: block;
		}
	}
	
	.lightbox_overlay, .lightbox {
		display: none;
	}
}

.lightbox_overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99998;
	
	&:last-child {
		background: #000;
		background: rgba(0, 0, 0, 0.6);
		
		.lightbox {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	
			h1 {
				box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
			}
		}
	}
}

.lightbox {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	margin-left: -250px;
	background: #fff;
	z-index: 99999;
	border-radius: 5px;
	overflow-y: auto;
	font-size: 17px;
	line-height: 25px;
	color: #333;
	
	.close_button {
		float: right;
		margin-left: -50px;
		padding: 15px 20px;
		font-weight: bold;
		color: #aaa;
	}
	
	h1 {
		background: #eee;
		padding: 15px;
		font-weight: bold;
		color: #555;
		font-size: 21px;
		text-align: center;
		border-bottom: 1px solid #ddd;
		text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
	}
	
	.content {
		padding: 15px;
		
		.field {
			margin: 20px 0;
		}
		
		.actions {
			a {
				float: right;
				color: #aaa;
				font-size: 13px;
				margin-left: 20px;
				margin-top: 20px;
			}
		}
	}
}

@media screen and (max-width: 720px) {
	.lightbox {
		right: 15px;
		left: 15px;
		width: auto;
		margin-left: 0;
		font-size: 15px;
		line-height: 23px;
	}
}