.main_header {
	padding: 15px;
	background: #fff;
	position: fixed;
	left: 222px;
	right: 0;
	top: 75px;
	height: 65px;
	border-bottom: 1px solid #ddd;
	
	.members_count {
		color: #777;
		margin-left: 17px;
		font-size: 11px;
	}
	
	.create_message {
		margin-top: 3px;
	}
}

@media screen and (max-width: 600px) {
	.has_sidebar {
		.main_header {
			position: static;
			margin-top: -65px;
			height: auto;
		}
	}
	
	.members_count {
		margin-top: 9px;
		float: right;
	}
	
	.create_message {
		width: 100%;
		margin-top: 0;
		margin-bottom: 10px;
	}
}