.sidebar {
	position: fixed;
	left: 0;
	top: 75px;
	bottom: 0;
	width: 222px;
	background: #eee;
	border-right: 1px solid #ddd;
	padding: 15px;
	overflow-y: auto;
	z-index: 99;
	
	&.without_padding {
		padding: 0px
	}
	
	&.right_sidebar {
		right: 0;
		left: auto;
	}
}

.has_sidebar {
	margin-left: 222px;
	
	.loading {
		left: 222px;
	}
}

@media screen and (max-width: 600px) {
	.sidebar {
		display: none;
	}
	
	.has_sidebar {
		margin-left: 0;
		
		.loading {
			left: 0px;
		}
	}
}