#tasks_wrapper {	
	.ui-state-highlight {
		background: #eee;
		padding-top: 1px;
		padding-bottom: 1px;
		border-radius: 4px;
	}
	
	h2 {
		max-width: 70%;
		margin: 0 auto 0 auto;
	}
	
	.date_helpers {
		color: #777;
		font-size: 12px;
		line-height: 12px;
		margin-top: 10px;
		margin-bottom: 30px;
	}
	
	.section {
		margin-top: 30px;
		
		&.overdue {
			h4 {
				color: #DB0204;
			}
		}
		
		&.completed {
			border-top: 1px solid #ddd;
			padding-top: 20px;
		}
	}
	
	h4 {
		font-weight: bold;
		margin-bottom: 10px;
	}
	
	#completed_tasks {
		.task {
			clear: both;

			&.complete {
				margin-bottom: 0px;
				
				input[type="checkbox"] {
					opacity: 0.5;
					filter: alpha(opacity=50);
				}
	
				.content {
					font-size: 12px;
					color: #aaa;
					text-decoration: line-through;
				}
			}
		}
	}
	
	.tasks {
		&[data-delete][data-write] {
			.delete {
				padding-right: 5px;
			}
			
			.handle {
				padding-left: 5px;
			}
			
			.task .meta_links {
				margin-left: -50px;
			}
		}
		
		&[data-delete] {
			.delete {
				display: inline-block;
			}
			
			.task .meta_links {
				margin-left: -25px;
			}
		}
	
		&[data-write] {
			.handle {
				display: inline-block;
			}
			
			.task .meta_links {
				margin-left: -25px;
			}
		}
	}
	
	.show_completed_tasks {
		float: right;
		color: #555;
		font-size: 11px;
		font-style: oblique;
	}
}

.task {
	padding: 1px 0px 1px 20px;
	//border-bottom: 1px solid #EADEC4;
	
	.content {
		display: inline-block;
		outline: none;
		width: 91%;
		float: right;
		margin-top: 2px;
	}

	.meta {
		width: 5%;
		text-align: right;
		float: left;
	}

	.meta_links {
		display: none;
		position: absolute;
		background: #fff;
		margin-left: -100px;
		margin-top: -5px;
		border-radius: 4px;
		font-size: 12px;
		color: #777;
	
		a {
			padding: 5px 10px;
		
			&.delete, &.handle {
				display: none;
			}
		}
	}
}

#new_task {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	background: #fff;
	text-align: center;
	padding: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	
	#task_content {
		height: 32px;
		width: 100%;
		max-width: 500px;
	}
}

body {
	&.folder_tasks_index {
		#new_task {
			left: 222px;
		}
	}
}

@media screen and (max-width: 600px) {
	body {
		&.folder_tasks_index {
			#new_task {
				left: 0;
			}
		}
	}
	
	#new_task {
		left: 0;
	}
	
	#tasks_wrapper {
		.task {
			padding: 3px 0px;
		}
	}
}