#tasks_wrapper {
	min-height: 250px;
	
	.ui-state-highlight {
		background: rgba(0, 0, 0, 0.2);
		margin-bottom: 5px;
		border-radius: 4px;
	}
	
	#completed_tasks {
		display: none;

		.task {
			&.complete {
				margin-bottom: 0px;
	
				.content {
					font-size: 11px;
					color: #777;
				}
			}
		}
	}
	
	#tasks {
		&[data-delete][data-write] {
			.delete {
				padding-right: 5px;
			}
			
			.handle {
				padding-left: 5px;
			}
			
			.task .meta_links {
				margin-left: -50px;
			}
		}
		
		&[data-delete] {
			.delete {
				display: inline-block;
			}
			
			.task .meta_links {
				margin-left: -25px;
			}
		}
	
		&[data-write] {
			.handle {
				display: inline-block;
			}
			
			.task .meta_links {
				margin-left: -25px;
			}
		}
	}

	.task {
		margin-bottom: 5px;
		
		.content {
			display: inline-block;
			outline: none;
			width: 93%;
			float: right;
			margin-top: 2px;
		}
	
		.meta {
			width: 5%;
			text-align: right;
			float: left;
		}
	
		.meta_links {
			display: none;
			position: absolute;
			background: #fff;
			border: 1px solid #ddd;
			margin-left: -50px;
			margin-top: -5px;
			border-radius: 4px;
			font-size: 12px;
			color: #777;
		
			a {
				padding: 5px 10px;
			
				&.delete, &.handle {
					display: none;
				}
			}
		}
	}
	
	#new_task {
		width: 100%;
		margin-top: 10px;

		input[type="text"] {
			background: transparent;
			border: 0 none;
			margin-left: 7%;
			width: 93%;
			padding: 0;
		}
	}
	
	.show_completed_tasks {
		float: right;
		color: #555;
		font-size: 11px;
		font-style: oblique;
	}
}