<tr>
	<td><%= check_box_tag :nice %></td>
	<td><%= link_to member.data["first_name"], "" %></td>
	<td><%= link_to member.data["last_name"], "" %></td>
	<td><%= link_to member.data["email"], "" %></td>
</tr>